---
import NotionRenderer from './NotionRenderer';

interface Props {
  recordMap: any;
  pageId: string;
}

const { recordMap, pageId } = Astro.props;
---

<div class="notion-page-wrapper">
  <NotionRenderer client:load recordMap={recordMap} rootPageId={pageId} />
</div>

<style>
  .notion-page-wrapper {
    width: 100%;
  }
</style>
